*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration:none;
  color:white;
}
.header{
  width:100%;
  height:100px;
  background-color:#075347;
  position:fixed;
  z-index:5;
}
.header_nav{
  width:70%;
  height:100px;
}
ul {
  list-style-type: none;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
ul>li>a{
  text-decoration:none;
  font-size:23px;
  color:white;
  transition:0.3s;
}
.logo{
  display:flex;
  justify-content:flex-start;
  flex-wrap:wrap;
}
ul>li>a:hover{
  color:black;
  font-size:27px;
}
.fon_two{
  width:100%;
  height:400px;
  background:url("../img/product_fon.jpg");
}
main{
  width:100%;
  height:1000px;
}
.child1{
  padding-top:150px;
}
.child1 img{
    float:left;
}
.child1 h1{
  text-align:center;
  font-family: 'Josefin Sans', sans-serif;

}
.child1 #text1{
    font-family: 'Josefin Sans', sans-serif;
    padding:50px;
    padding-top:150px;
    font-size:25px;
}
.but,.but2,.but3,.but4,.but5,.but6{
  width:200px;
  height:50px;
  background-color:#377DFF;
  border:0px;
  margin-left:50px;
  border-radius:10px;
  font-size:17px;
  transition:0.3s;
}
.but:hover{
  transform:scale(1.1);
}
.but2:hover{
  transform:scale(1.1);
}
.but3:hover{
  transform:scale(1.1);
}
.but4:hover{
  transform:scale(1.1);
}
.but5:hover{
  transform:scale(1.1);
}
.but6:hover{
  transform:scale(1.1);
}
.child2{
  padding-top:150px;
}
.child2 img{
    float:left;
}
.child2 h1{
  text-align:center;
  font-family: 'Josefin Sans', sans-serif;
}
.child2 #text2{
    font-family: 'Josefin Sans', sans-serif;
    padding:50px;
    padding-top:150px;
    font-size:25px;
}
.child3{
  padding-top:150px;
}
.child3 img{
    float:left;
    margin-top:50px;
}
.child3 h1{
  text-align:center;
  font-family: 'Josefin Sans', sans-serif;
}
.child3 #text3{
    font-family: 'Josefin Sans', sans-serif;
    padding:50px;
    padding-top:150px;
    font-size:25px;
}
.child4{
  padding-top:150px;
}
.child4 img{
    float:left;
    margin-top:50px;
}
.child4 h1{
  text-align:center;
  font-family: 'Josefin Sans', sans-serif;
}
.child4 #text4{
    font-family: 'Josefin Sans', sans-serif;
    padding:50px;
    padding-top:150px;
    font-size:25px;
}
.child5{
  padding-top:150px;
}
.child5 img{
    float:left;
    margin-top:50px;
}
.child5 h1{
  text-align:center;
  font-family: 'Josefin Sans', sans-serif;
}
.child5 #text5{
    font-family: 'Josefin Sans', sans-serif;
    padding:50px;
    padding-top:150px;
    font-size:25px;
}
.child6{
  padding-top:150px;
}
.child6 img{
    float:left;
    margin-top:50px;
}
.child6 h1{
  text-align:center;
  font-family: 'Josefin Sans', sans-serif;
}
.child6 #text6{
    font-family: 'Josefin Sans', sans-serif;
    padding:50px;
    padding-top:150px;
    font-size:25px;
}



.footer-bottom {
  background-color:#075347;
  width: 100%;
  height:175px;
  text-align: left;
  font:35px sans-serif;
  padding-top:40px;
  padding-left:5%;
}
.footer-bottom p.links{
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin: 0 0 15px;
}

.footer-bottom a {
  color: white;
}
.footer-bottom .links a:before {
  content: "|";
  font-size: 20px;
  left: 0;
  color: white;
  padding-right:5px;
}
.footer.logo{
  display:flex;
  margin:200px;
}
.footer-right{
  width:50%;
  height:100px;
  background-color:#075347;
}
.footer-bottom{
  display:flex;
  justify-content:space-around;
  align-items:center;
}
.footer-right a{
  font-size:20px;
  display:block;
  margin-left:40%;
  padding-bottom:2px;
  font-family:'EB Garamond', serif;
  transition:0.2s;
}
footer a{
  transition:0.2s;
}
footer a:hover{
  color:#3F3E53;
  font-size:27px;
}
